*{
    margin: 0;
    padding: 0;
    background-color:gray;
}

.flawerfun{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 310px;
height: 450px;
cursor: pointer;
}
.flawerfun .img1{
position:  absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url(vered.jpg);
border-radius: 10px;
box-shadow: 0 2px 15px rgba(0,0,0,0.5);
transform: translate(0px,0px);
transition: .5s ;
transform-origin: bottom;
}
.flawerfun .img2{
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(calanit.jpg);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    transform: translate(6px,6px);
    transition: .5s ;
    transform-origin: bottom;
}
.flawerfun .img3{
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(marganit.jpg);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    transform: translate(12px,12px);
    transition: .5s ;
    transform-origin: bottom;
}
.flawerfun .img4{
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(nurit.jpg);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    transform: translate(18px,18px);
    transition: .5s ;
    transform-origin: bottom;
}
.flawerfun .img5{
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(sachlav.jpg);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    transform: translate(24px,24px);
    transition: .5s ;
    transform-origin: bottom;
}    

.flawerfun:hover .img1{
    transform: rotate(-60deg)  ;
}
.flawerfun:hover .img2{
    transform: rotate(-30deg) ;
}
.flawerfun:hover .img3{
    transform: rotate(0deg) ;
}
.flawerfun:hover .img4{
    transform: rotate(30deg) ;
}
.flawerfun:hover .img5{
    transform: rotate(60deg) ;
}

.flawerfun .img1:hover{
    z-index: 1;
    box-shadow: 0 15px 50px rgba(0,0,0,0.5);
}
.flawerfun .img2:hover{
    z-index: 1;
    box-shadow: 0 15px 50px rgba(0,0,0,0.5);
}
.flawerfun .img3:hover{
    z-index: 1;
    box-shadow: 0 15px 50px rgba(0,0,0,0.5);
}
.flawerfun .img4:hover{
    z-index: 1;
    box-shadow: 0 15px 50px rgba(0,0,0,0.5);
}
.flawerfun .img5:hover{
    z-index: 1;
    box-shadow: 0 15px 50px rgba(0,0,0,0.5);
}