<html>
    <div style="background-color: rgb(216, 205, 190)">
        <ul>
                <li style="color:blue; font-size: 50px;"> name: <%= student.name %> </li>
                <li style="color:blue; font-size: 50px;"> id: <%= student.id %> </li>
                <li style="color:blue; font-size: 50px;"> age: <%= student.age %> </li>         
        </ul>
    </div>
</html>