<!DOCTYPE html>
<html lang="en">

<body>
      <header>
            <% include partials/header %>
      </header> 

      <main>
        <h1 style="color: yellow">HELLO!! i am about page</h1>
        <h2> this is my first time that i use in ejs engine in my website , wish me luck !!!!!!</h2>
    
      </main>

      <footer>
            <% include partials/footer %>
      </footer>


</body>
</html>
